.bug {
  background: #92BC2C;
  box-shadow: 0 0 12px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 12px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 12px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 12px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 12px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 12px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 12px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 12px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 12px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 12px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 12px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 12px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 12px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 12px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 12px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 12px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 12px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 12px #539DDF;
}

.info_container_data_type{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  /* margin-top: 2em; */
}
.bodycard{
  padding: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* p:1, display:'flex', flexDirection: "column", alignItems:'center */
}

/* .bodycard div:last-child{
  
  background-image: url("../public/pokeball.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgba(76, 175, 80, 0.3)
  
} */


.spritepokm::before{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../public/pokeball.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .25 !important;
  z-index: -1;
}


.poke_type_bg {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin:auto;
  transition: 200ms all;
}

.poke_type_bg_resp{
  display: flex;
  gap: 0.2em;
  border-radius: 5%;
}
.poke_type_bg_resp div{
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}




.poke_type_bg_resp p {
  margin-right: 0.5em;
}

.poke_type_bg:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.poke_type_bg img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.numberbg{
    background-color: rgba(255, 255, 255, 0.07) !important;
    border-radius: 20px;
    padding: 5px !important;
    width: 85px;
    text-align: center;
    background-image: none !important;
}
.sprite-container{
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 50% 0% 0% 50% / 60% 50% 50% 60%;
  /* margin-left: 4em; */
}